<div  class="container mb-5">
  <%= render @post %>
  <br/>
  <div class="btn-group float-start">
    <%= link_to "Back to posts", posts_path, class: "btn btn-info" %>
    <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-warning" %>
    <%= button_to "Delete this post", @post, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
<div class="container">
  <%= render 'comments/form', 
    post: @post,
    comment: @post.comments.build,
    submit_label: "Reply" %>
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', post: @post, comment: comment %>
  <% end %>
</div>